.no_following_post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88vh;
  font-size: 20px;
  background-color: rgb(249, 249, 250);
  .hidden {
    display: none;
  }
}

#mainContainer {
  // border: 1px solid green;
  background-color: rgb(249, 249, 250);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include mobile-only{
    width: 100%;
  }
  @include md{
    width:96%;
  }
  @include lg{
    width:96%;
  }

  .postBox {
    // border: 1px solid green;
    @include mobile-only {
      margin: 10% 1% 1% 1%;
      width: 100%;
    }
    @include md {
      margin: 1%;
      width: 31.333333333333%;
    }
    @include lg {
      margin: 1%;
      width: 31.333333333333%;
    }

    .mainImage {
      cursor: pointer;
      &:hover{
        opacity: 0.9;
      }
      @include mobile-only {
        border-radius: 1rem;
        width: 90%;
        height: 70vw;
      }
      @include md {
        border-radius: 1rem;
        width: 100%;
        height: 25vw;
      }
      @include lg {
        border-radius: 1rem;
        width: 100%;
        height: 20vw;
      }
    }
    .tagBox {
      // border: 1px solid green;
      display: flex;
      flex-wrap: wrap;
      overflow-y: hidden;
      @include mobile-only {
        width: 100%;
        padding-left:4%;
         margin: 1.5% 0%;
        height: 2.2rem;
      }
      @include md {
        width: 100%;
        margin: 2% 0 2% 0;
        height: 2.4rem;
      }
      @include lg {
        width: 100%;
        height: 2.6rem;
      }

      .tag {
        // border: 1px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        font-weight: bold;
        &:hover{
          cursor: pointer;
          color:purple;
        }
        @include mobile-only {
          margin: 0.2rem;
          padding: 0 1%;
          font-size: 140%;
        }
        @include md {
          margin: 0.2rem;
          padding: 0 1%;
          font-size: 150%;
        }
        @include lg {
          margin: 0.2rem;
          padding: 0 1.3%;
          font-size: 160%;
        }
      }
    }

    .communityBox {
      // border: 1px solid green;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      label{
        display:flex;
        justify-content: center;
        align-items:center;
        @include mobile-only {
          margin-left: 6%;
        }
        @include md {
          margin-left: 1%;
        }
        @include lg {
          margin-left: 0;
        }
        &:hover{
          cursor: pointer;
          .nickname{
            color: purple;
          }
          .profileImage{
            border:1px solid #f2f4f6;
          }
        }
      }

      .profileImage {
        // border: 1px solid green;
        border-radius: 100%;
        @include mobile-only {
          width: 2.3rem;
          height: 2.3rem;
        }
        @include md {
          width: 3rem;
          height: 3rem;
        }
        @include lg {
          width: 3.5rem;
          height: 3.5rem;
        }
      }

      .nickname {
        // border: 1px solid green;
        transition: 0.4s;
        text-align: left;
        @include mobile-only {
          font-size: 160%;
          padding-left: 1rem;
        }
        @include md {
          font-size: 150%;
          padding-left: 3%;
          width:14rem;
        }
        @include lg {
          font-size: 160%;
          padding-left: 0.5rem;
          width:20rem;
        }
      }

      .iconBox {
        // border: 1px solid green;
        display: flex;
        justify-content: flex-end;
        margin:0;
        @include mobile-only {
          padding-right: 5%;
        }

        .mainIcon_heart {
          color: gray;
          transition: 0.2s;
          @include mobile-only {
            height: 1.6rem;
            margin-right: 0.4rem;
          }
          @include md {
            height: 1.8rem;
            margin-right: 0.4rem;
          }
          @include lg {
            height: 2rem;
            margin-right: 0.8rem;
          }
        }

        .mainIcon_comment {
          color: gray;
          @include mobile-only {
            height: 1.6rem;
            margin-right: 0.4rem;
          }
          @include md {
            height: 1.8rem;
            margin-right: 0.4rem;
          }
          @include lg {
            height: 2rem;
            margin-right: 0.8rem;
          }
        }

        .mainIcon_heart:hover {
          color: red;
        }

        .like {
          color: gray;
          @include mobile-only {
            margin: 0.1rem 0.5rem 0 0;
            font-size: 130%;
          }
          @include md {
            margin: 0.2rem 0.5rem 0 0;
            font-size: 1.3rem;
          }
          @include lg {
            margin: 0.2rem 0.8rem 0 0;
            font-size: 1.5rem;
          }
        }
        .reply {
          color: gray;
          @include mobile-only {
            margin: 0.1rem 0.5rem 0 0;
            font-size: 130%;
          }
          @include md {
            margin: 0.2rem 0.5rem 0 0;
            font-size: 1.3rem;
          }
          @include lg {
            margin: 0.2rem 0.5rem 0 0;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.main_whole_div {
  // border: 3px solid blue;
  background-color: rgb(249, 249, 250);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile-only {
    padding-top: 5rem;
  }
  @include md {
    padding-top: 10rem;
  }
  @include lg {
    padding-top: 12rem;
    padding-left: 4%;
    padding-right: 4%;
  }
}
.main_buttons{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width:100%;
  @include mobile-only{
    padding: 0 0 0 6%;
  }
  @include md{
    padding: 0 0 1% 3%;
  }
  @include lg{
    padding: 0 0 1% 3%;
  }
  button{
    border:none;
    background-color: rgb(249, 249, 250);
    padding:1%;
    border-radius: 4px;
    @include mobile-only{
      height:40px;
      width:80px;
      font-size: 16px;
    }
    @include md{
      height:50px;
      width:100px;
      font-size: 20px;
    }
    @include lg{
      height: 50px;
      width: 120px;
      font-size: 20px;
    }
  }
  .button_selected{
    background-color: #f2f4f6;
  }
  .button_unSelected{
    &:hover{
      cursor: pointer;
      background-color: #f2f4f6;
    }
  }
}
