#mainContainer {
  background-color: $main-color;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .postBox {
    // border: 1px solid green;
    @include mobile-only {
      margin: 1rem;
    }
    @include md {
      margin: 1rem;
    }
    @include lg {
      margin: 5rem;
    }

    .mainImage {
      cursor: pointer;
      @include mobile-only {
        border-radius: 1rem;
        width: 15rem;
        height: 12rem;
      }
      @include md {
        border-radius: 1rem;
        width: 24rem;
        height: 18rem;
      }
      @include lg {
        border-radius: 1rem;
        width: 40rem;
        height: 31rem;
      }
    }
    .tagBox {
      // border: 1px solid green;
      display: flex;
      flex-wrap: wrap;
      @include mobile-only {
        width: 15rem;
        margin: 0.2rem 0 0.4rem 0;
      }
      @include md {
        width: 24rem;
        margin: 0.4rem 0 0.9rem 0;
      }
      @include lg {
        width: 40rem;
        margin: 0.4rem 0 0.9rem 0;
      }

      .tag {
        // border: 1px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: rgb(142, 238, 194);
        @include mobile-only {
          margin: 0.2rem;
          padding: 0.2rem 0.4rem 0.2rem 0.3rem;
          font-size: 0.7rem;
        }
        @include md {
          margin: 0.2rem;
          padding: 0.4rem 1rem 0.4rem 0.9rem;
          font-size: 1rem;
        }
        @include lg {
          margin: 0.2rem;
          padding: 0.8rem 2rem 0.8rem 2rem;
          font-size: 1.4rem;
        }
      }
    }

    .communityBox {
      display: flex;

      .nickname {
        // border: 1px solid green;
        cursor: pointer;
        flex: 1;
        font-weight: bold;
        transition: 0.4s;
        text-align: left;
        @include mobile-only {
          font-size: 1rem;
          padding-left: 0.3rem;
        }
        @include md {
          font-size: 1.5rem;
          padding-left: 0.3rem;
        }
        @include lg {
          font-size: 1.7rem;
          padding-left: 0.3rem;
        }
      }

      .nickname:hover {
        color: purple;
      }

      .iconBox {
        // border: 1px solid green;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        @include mobile-only {
          font-size: 1.2rem;
        }
        @include md {
          font-size: 1.5rem;
        }
        @include lg {
          font-size: 2rem;
        }

        .mainIcon {
          @include mobile-only {
            height: 1.2rem;
            margin-right: 0.4rem;
          }
          @include md {
            height: 1.8rem;
            margin-right: 0.5rem;
          }
          @include lg {
            height: 2.6rem;
            margin-right: 1.2rem;
          }
        }
        .like {
          font-weight: bold;
          @include mobile-only {
            margin: 0rem 0.5rem 0 0;
          }
          @include md {
            margin: 0.2rem 0.5rem 0 0;
          }
          @include lg {
            margin: 0.2rem 1rem 0 0;
          }
        }
        .reply {
          font-weight: bold;
          @include mobile-only {
            margin: 0 0.2rem 0 0;
          }
          @include md {
            margin: 0 0.2rem 0 0;
          }
          @include lg {
            margin: 0.2rem 0.5rem 0 0;
          }
        }
      }
    }
  }
}
