#total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  width: 100%;
  height: 90%;
  @include mobile-only {
  }
  .media-track-box {
    border: 2px solid purple;
    width: 35%;
    height: 71.4%;
  }

  .contents-detail-box {
    border: 1px solid green;
    width: 50%;
  }
}
