.total-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.post-details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.media-track-box {
  width: 35%;
  margin-right: 0em;
}

.media {
  height: 60%;
}

.track {
  margin-top: 1em;
}

.contents-detail-box {
  width: 50%;
  margin-left: 0em;
}
