// .div {
//   display: flex;
//   width: 100%;
// }

// #result-list {
//   width: 60%;
//   height: 500px;
//   overflow: auto;
// }

// #pagination {
//   margin-top: 3rem;
// }

// #pagination a {
//   color: black;
//   font-size: 20px;
//   text-decoration: none;
//   margin: 0 10px;
// }

// #pagination a.on {
//   color: lightblue;
//   font-weight: bold;
// }

/* ------------------------------ */

#settingRouteContainer {
  border: 1px solid green;
  width: 100%;
  @include mobile-only {
    display: flex;
    flex-direction: column-reverse;
    height: 94%;
  }
  @include md {
    display: flex;
    height: 90%;
  }
  @include lg {
    display: flex;
    height: 90%;
  }

  .noplace {
    font-size: 1.5rem;
  }

  .searchBox {
    // border: 1px solid green;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-only {
      width: 100%;
      height: 50%;
    }
    @include md {
      width: 30%;
      height: 100%;
    }
    @include lg {
      width: 20%;
      height: 100%;
    }

    h1 {
      // border: 1px solid black;
      width: 100%;
      // display: flex;
      // justify-content: flex-start;
      margin: 2rem 0 0 0;
    }
  }
  .inputBox {
    position: relative;
    width: 100%;
    height: 3%;
    @include mobile-only {
      margin: 2rem 0 1rem 0;
    }
    @include md {
      margin: 2rem 0 1rem 0;
    }
    @include lg {
      margin: 2rem 0 1rem 0;
    }

    .locationSearchBar {
      border: 1px solid gray;
      border-radius: 1rem;
      padding-left: 1.5rem;
      @include mobile-only {
        width: 80%;
        height: 300%;
        font-size: 140%;
      }
      @include md {
        width: 80%;
        height: 160%;
        font-size: 160%;
      }
      @include lg {
        width: 80%;
        height: 160%;
        font-size: 160%;
      }
    }

    .searchIcon {
      position: absolute;
      cursor: pointer;
      color: rgb(103, 102, 102);

      @include mobile-only {
        height: 200%;
        right: 14%;
        top: 50%;
      }
      @include md {
        height: 100%;
        right: 14%;
        top: 25%;
      }
      @include lg {
        height: 100%;
        right: 14%;
        top: 25%;
      }
    }
  }
  .locationListBox {
    // border: 1px solid red;
    width: 80%;
    overflow: auto;
    @include mobile-only {
      height: 100%;
      margin-top: 2rem;
    }
    @include md {
      height: 100%;
      margin-top: 2rem;
    }
    @include lg {
      height: 100%;
      margin-top: 2rem;
    }

    .locationBox {
      transition: 0.2s;
      border-top: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .placeName {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 1rem 0 0.5rem 0;
      }
      .addressName {
        color: rgb(74, 73, 73);
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      .locationDiv {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }

      .addButton {
        border: 0;
        cursor: pointer;
        transition: 0.4s;
        border-radius: 1rem;
        color: white;
        background-color: rgb(90, 165, 254);
        font-weight: bold;
        width: 7rem;
        height: 2.5rem;
        margin: 0 1rem;
      }

      .detailButton {
        border: 1px solid lightgray;
        cursor: pointer;
        transition: 0.4s;
        border-radius: 1rem;
        color: #5aa5fe;
        background-color: white;
        font-weight: bold;
        width: 7rem;
        height: 2.5rem;
        margin: 0 0 1rem 1rem;
      }
      .addButton:hover {
        background-color: #1c487d;
      }
    }
    .locationBox:hover {
      cursor: pointer;
      background-color: whitesmoke;
    }
  }
  .locationListBox::-webkit-scrollbar {
    display: none;
  }

  .selectedRouteBox_hidden {
    display: none;
  }

  .mapBox {
    position: relative;
    width: 100%;
    height: 50%;
    .kakaomap {
      width: 100%;
      height: 100%;
    }

    .selectedRouteBox {
      width: 40%;
      border: 2px solid rgb(28, 71, 125);
      border-radius: 2rem;
      background-color: white;
      position: absolute;
      z-index: 1;
      box-sizing: border-box;
      padding: 0.5rem;
      height: 10%;
      left: 35%;
      right: 35%;
      top: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      .markerBox {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .marker_div {
        width: 10rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .marker_img_div {
        // width: 100%;
        display: flex;
        margin: 1rem;
      }
      .markerImg {
        position: relative;
        color: #4680ff;
        height: 4rem;
        width: 4rem;
        left: 1rem;
        &:hover {
          cursor: pointer;
        }
        &:hover ~ .cancelImg {
          display: block;
        }
      }
      .cancelImg {
        position: relative;
        color: black;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0;
        padding: 0;
        left: 0.5rem;
        display: none;
        // background-color: #4680ff;
        &:hover {
          cursor: pointer;
        }
      }
      .marker_span {
        position: relative;
        font-size: 1.2rem;
        display: block;
        left: 1rem;
      }
      .line {
        height: 3rem;
        width: 8rem;
      }
    }
  }

  .footstep_div {
    display: flex;
  }

  .footstep {
    color: rgb(28, 71, 125);
    width: 25px;
    height: 25px;
    margin: 0 0.2rem;
  }

  .buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    width: 100%;
    @include mobile-only {
      height: 20%;
    }
    @include md {
      height: 10%;
    }
    @include lg {
      height: 10%;
    }

    // @include mobile-only {
    // }
    // @include md {
    // }
    // @include lg {
    // }
    .nextButton {
      border: 0;
      border-radius: 1rem;
      background-color: #4680ff;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s;
      @include mobile-only {
        margin: 2rem;
        font-size: 1.3rem;
        width: 30%;
        height: 3rem;
      }
      @include md {
        margin: 5%;
        font-size: 140%;
        width: 40%;
        height: 4rem;
      }
      @include lg {
        margin: 2rem;
        font-size: 140%;
        width: 40%;
        height: 50%;
      }

      &:hover {
        background-color: #392ffcc6;
      }
    }

    .cancelButton {
      border-radius: 1rem;
      background-color: white;
      color: #4680ff;
      border: 1px solid lightgray;
      font-weight: bold;
      transition: 0.2s;
      @include mobile-only {
        margin: 2rem;
        font-size: 1.3rem;
        width: 30%;
        height: 3rem;
      }
      @include md {
        margin: 5%;
        font-size: 140%;
        width: 40%;
        height: 4rem;
      }
      @include lg {
        margin: 2rem;
        font-size: 140%;
        width: 40%;
        height: 50%;
      }
      cursor: pointer;
      &:hover {
        background-color: rgb(229, 229, 230);
        color: rgb(66, 90, 119);
      }
    }
  }
}
