// .div {
//   display: flex;
//   width: 100%;
// }

// #result-list {
//   width: 60%;
//   height: 500px;
//   overflow: auto;
// }

// #pagination {
//   margin-top: 3rem;
// }

// #pagination a {
//   color: black;
//   font-size: 20px;
//   text-decoration: none;
//   margin: 0 10px;
// }

// #pagination a.on {
//   color: lightblue;
//   font-weight: bold;
// }

/* ------------------------------ */

#settingRouteContainer {
  // border: 1px solid green;
  width: 100%;
  @include mobile-only {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding-top: 4rem;
  }
  @include md {
    display: flex;
    height: 100%;
    padding-top: 8rem;
  }
  @include lg {
    display: flex;
    height: 100%;
    padding-top: 10rem;
  }

  .noplace {
    font-size: 1.5rem;
  }

  .searchBox {
    // border: 1px solid green;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-only {
      width: 100%;
      height: 50%;
    }
    @include md {
      width: 30%;
      height: 100%;
    }
    @include lg {
      width: 20%;
      height: 100%;
    }

    h1 {
      // border: 1px solid black;
      width: 100%;
      // display: flex;
      // justify-content: flex-start;
      margin: 2rem 0 0 0;
    }
  }
  .inputBox {
    position: relative;
    width: 100%;
    height: 3%;
    @include mobile-only {
      margin: 2rem 0 2rem 0;
    }
    @include md {
      margin: 2rem 0 1rem 0;
    }
    @include lg {
      margin: 2rem 0 1rem 0;
    }

    .locationSearchBar {
      border: 1px solid gray;
      border-radius: 1rem;
      padding-left: 1.5rem;
      @include mobile-only {
        width: 80%;
        height: 300%;
        font-size: 140%;
      }
      @include md {
        width: 80%;
        height: 160%;
        font-size: 120%;
      }
      @include lg {
        width: 80%;
        height: 160%;
        font-size: 140%;
      }
    }

    .searchIcon {
      position: absolute;
      cursor: pointer;
      color: rgb(103, 102, 102);

      @include mobile-only {
        height: 200%;
        right: 14%;
        top: 50%;
      }
      @include md {
        height: 80%;
        right: 14%;
        top: 40%;
      }
      @include lg {
        height: 100%;
        right: 14%;
        top: 25%;
      }
    }
  }
  .locationListBox {
    // border: 1px solid red;
    width: 80%;
    overflow: auto;
    @include mobile-only {
      height: 100%;
      margin-top: 2rem;
    }
    @include md {
      height: 100%;
      margin-top: 2rem;
    }
    @include lg {
      height: 100%;
      margin-top: 2rem;
    }

    .locationBox {
      transition: 0.2s;
      border-top: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .placeName {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 1rem 0 0.5rem 0;
      }
      .addressName {
        color: rgb(74, 73, 73);
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      .locationDiv {
        display: flex;
        width: 100%;
        @include mobile-only {
          justify-content: center;
        }
        @include md {
          justify-content: center;
        }
        @include lg {
          justify-content: flex-end;
        }
      }

      .addButton {
        border: 0;
        cursor: pointer;
        transition: 0.4s;
        border-radius: 1rem;
        color: white;
        background-color: rgb(90, 165, 254);
        font-weight: bold;
        @include mobile-only {
          width: 7rem;
          height: 2.5rem;
          margin: 0 1rem;
        }
        @include md {
          width: 6rem;
          height: 2.5rem;
          margin: 0 1rem;
          font-size: 1rem;
        }
        @include lg {
          width: 7rem;
          height: 2.5rem;
          margin: 0 1rem;
          font-size: 1.2rem;
        }
      }

      .detailButton {
        border: 1px solid lightgray;
        cursor: pointer;
        transition: 0.4s;
        border-radius: 1rem;
        color: #5aa5fe;
        background-color: white;
        font-weight: bold;
        @include mobile-only {
          width: 7rem;
          height: 2.5rem;
          margin: 0 0 1rem 1rem;
        }
        @include md {
          width: 6rem;
          height: 2.5rem;
          margin: 0 0 1rem 1rem;
          font-size: 1rem;
        }
        @include lg {
          width: 7rem;
          height: 2.5rem;
          margin: 0 0 1rem 1rem;
          font-size: 1.2rem;
        }
        &:hover {
          background-color: #add2ff;
          color: white;
        }
      }
      .addButton:hover {
        background-color: #93b1f3;
      }
    }
    .locationBox:hover {
      cursor: pointer;
      background-color: whitesmoke;
    }
  }
  .locationListBox::-webkit-scrollbar {
    display: none;
  }

  .selectedRouteBox_hidden {
    display: none;
  }

  .mapBox {
    border: 0;
    position: relative;
    z-index: 10;
    @include mobile-only {
      width: 100%;
      height: 50%;
    }
    @include md {
      width: 100%;
      height: 100%;
    }
    @include lg {
      width: 100%;
      height: 100%;
    }
    .kakaomap {
      width: 100%;
      height: 100%;
    }

    .selectedRouteBox {
      border-radius: 2rem;
      background-color: white;
      position: absolute;
      z-index: 20;
      border: 2px solid rgb(28, 71, 125);
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      @include mobile-only {
        width: 98%;
        padding: 1rem;
        height: 20%;
        left: 1%;
        right: 1%;
        top: 3%;
      }
      @include md {
        width: 96%;
        padding: 0.5rem;
        height: 10%;
        left: 2%;
        right: 2%;
        top: 1%;
      }
      @include lg {
        width: 90%;
        padding: 0.5rem;
        height: 10%;
        left: 5%;
        right: 5%;
        top: 1%;
      }

      .marker_div {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 4%;
        @include lg {
          margin-top: 0;
        }
      }
      .marker_img_div {
        // border: 1px solid blue;
        // width: 100%;
        display: flex;
        @include mobile-only {
          margin: 0.1rem;
        }
        @include md {
          margin: 0.3rem;
        }
        @include lg {
          margin: 0.5rem;
        }
      }
      .markerImg {
        position: relative;
        color: #4680ff;
        @include mobile-only {
          height: 2.5rem;
          width: 2.5rem;
        }
        @include md {
          height: 2.5rem;
          width: 2.5rem;
        }
        @include lg {
          height: 4rem;
          width: 4rem;
        }

        &:hover {
          cursor: pointer;
        }
        &:hover ~ .cancelImg {
          display: block;
        }
      }
      .cancelImg {
        position: relative;
        color: black;
        display: none;
        @include mobile-only {
          height: 1rem;
          width: 1rem;
          margin: 0;
          padding: 0;
          left: 0.1rem;
        }
        @include md {
          height: 1rem;
          width: 1rem;
          margin: 0;
          padding: 0;
          left: 0.1rem;
        }
        @include lg {
          height: 1.5rem;
          width: 1.5rem;
          margin: 0;
          padding: 0;
          left: 0.5rem;
        }

        // background-color: #4680ff;
        &:hover {
          cursor: pointer;
        }
      }
      .marker_span {
        // border: 1px solid purple;
        position: relative;
        display: block;
        @include mobile-only {
          position: absolute;
          font-size: 0.5rem;
          top: 70%;
        }
        @include md {
          font-size: 1rem;
        }
        @include lg {
          font-size: 1.2rem;
        }
      }
      .line {
        height: 3rem;
        width: 8rem;
      }
    }
  }

  .footstep_div {
    // border: 1px solid orange;
    display: flex;
  }

  .footstep {
    color: rgb(28, 71, 125);
    @include mobile-only {
      width: 1rem;
      height: 1rem;
      margin: 0 0.2rem;
    }
    @include md {
      width: 2rem;
      height: 2rem;
      margin: 0 0.2rem;
    }
    @include lg {
      width: 25px;
      height: 25px;
      margin: 0 0.2rem;
    }
  }

  .buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    width: 100%;
    @include mobile-only {
      height: 20%;
    }
    @include md {
      height: 10%;
    }
    @include lg {
      height: 10%;
    }

    // @include mobile-only {
    // }
    // @include md {
    // }
    // @include lg {
    // }
    .nextButton {
      border: 0;
      border-radius: 1rem;
      background-color: #4680ff;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s;
      @include mobile-only {
        margin: 2rem;
        font-size: 1.3rem;
        width: 30%;
        height: 3rem;
      }
      @include md {
        margin: 5%;
        font-size: 140%;
        width: 40%;
        height: 4rem;
      }
      @include lg {
        margin: 2rem;
        font-size: 140%;
        width: 40%;
        height: 50%;
      }

      &:hover {
        background-color: #93b1f3;
      }
    }

    .cancelButton {
      border-radius: 1rem;
      background-color: white;
      color: rgb(255, 115, 115);
      border: 1px solid rgb(255, 115, 115);
      // font-weight: bold;
      transition: 0.2s;
      @include mobile-only {
        margin: 2rem;
        font-size: 1.3rem;
        width: 30%;
        height: 3rem;
      }
      @include md {
        margin: 5%;
        font-size: 140%;
        width: 40%;
        height: 4rem;
      }
      @include lg {
        margin: 2rem;
        font-size: 140%;
        width: 40%;
        height: 50%;
      }
      cursor: pointer;
      &:hover {
        background-color: rgb(255, 237, 237);
        color: rgb(255, 0, 0);
      }
    }
  }
}
