@charset "UTF-8";
/* css 변수 선언 */
$navigator-color: rgb(188, 232, 238);
$main-color: rgb(240, 249, 251);
$startmenu-color: rgb(143, 151, 238);
$footer-color: rgb(188, 232, 238);

@import './styles/components/footer';
@import './styles/components/navigator';
@import './styles/components/loginpage';
@import './styles/components/signup';
@import './styles/components/userinfo';
