.login_whole_div {
  display: flex;
  // position: fixed;
  justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100%;
  @include md {
    padding-top: 4rem;
  }
  @include lg {
    padding-top: 8rem;
  }


  input {
    position: relative;
    border-radius: 0.5rem;
    margin: 1rem 2rem;
    border: 1px solid lightgray;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 450px;
    height: 40px;

    @include mobile-only {
      width: 80vw;
      height: 5rem;
      margin: 1 2rem;
    }
  }

  button {
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    text-align: left;
    font-size: 16px;
    color: #5f6776;
    margin: 0.5rem 2rem;
    font-weight: 500;
  }
}

.button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  * {
    margin: 0.8rem;
  }
}

.login_logo_title {
  font-size: 32px;
  margin: 30px 0;
}

.login_main_div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  // background-color: antiquewhite;
  // align-items: center;
  // align-self: center;
  // justify-content: center;
}

.login_logo_img {
  justify-items: flex-end;
  align-items: center;
  width: 200px;
  height: 120px;
  margin-top: 30px;
}

.login_input_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// .login_email_input {
//   width: 450px;
//   height: 40px;
// }

// .login_password_input {

// }

.login_login_button {
  background-color: rgb(123, 179, 247);
  border: 1px solid rgb(91, 159, 244);
  border-radius: 1rem;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  width: 450px;
  height: 60px;

  @include mobile-only {
    width: 80vw;
    height: 5rem;
    margin: 1 2rem;
  }
}

.login_kakao_button {
  width: 450px;
  height: 60px;
  border: 1px solid rgb(223, 216, 1);
  border-radius: 1rem;
  @include mobile-only {
    width: 80vw;
    height: 5rem;
    margin: 1 2rem;
  }
  &:hover {
    cursor: pointer;
  }
}

.login_signup_button {
  width: 450px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  background-color: #F1F5FA;
  border: 1px solid #d5e3f4;
  border-radius: 1rem;
  color: #4680FF;
  @include mobile-only {
    width: 80vw;
    height: 5rem;
    margin: 1 2rem;
  }
}

.login_findpassword_button {
  width: 90%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px 0 30px 10px;
  margin-left: 25px;
  display: flex;
  border: none;
  background-color: rgb(246, 247, 248);
  color: #333333;
    &:hover {
      cursor: pointer;
    }
}