.slider {
  // display: flex;
  // width: 44rem;
  // height: 35rem;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
  // border: 1px solid red;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 3px rgb(212, 212, 212);
  @include mobile-only {
    height: 50%;
    width: 100%;
  }
  @include md {
    height: 100%;
    width: 40rem;
  }
  @include lg {
    height: 40rem;
    width: 100%;
  }
}

.slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid white;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 3px rgb(212, 212, 212);
  @include mobile-only {
    height: 50%;
    width: 100%;
  }
  @include md {
    height: 100%;
    width: 40rem;
  }
  @include lg {
    height: 40rem;
    width: 100%;
  }
}

.image {
  position: relative;
  @include mobile-only {
    height: 40rem;
    width: 46rem;
  }
  @include md {
    height: 40rem;
    width: 45rem;
  }
  @include lg {
    height: 40rem;
    width: 45rem;
  }
}

.angleLeft {
  position: absolute;
  transition: 0.6s;
  left: 2rem;
  top: 45%;
  color: rgb(177, 177, 177);
  opacity: 0.4;
  height: 3.5rem;
  z-index: 10;
  width: 3.5rem;
  &:hover {
    opacity: 0.7;
    // color: white;
  }
}

.angleRight {
  position: absolute;
  transition: 0.6s;
  right: 2rem;
  color: rgb(177, 177, 177);
  opacity: 0.5;
  height: 3.5rem;
  top: 45%;
  z-index: 10;
  width: 3.5rem;

  &:hover {
    opacity: 0.8;
  }
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  display: flex;
  align-items: center;
}

.dots {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 1rem;
}

.dot-active {
  opacity: 0.9;
  color: white;
  z-index: 10;
  height: 1.5rem;
  margin: 0.4rem;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 2px 2px rgb(177, 176, 176);
}

.dot {
  opacity: 0.5;
  color: white;
  z-index: 10;
  height: 1.5rem;
  margin: 0.4rem;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 2px 2px rgb(73, 73, 73);
}

.dot:hover {
  opacity: 1;
}

#staticMap {
  width: 100%;
  height: 100%;
}

.view_selectbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  opacity: 1;
  height: 5rem;
  z-index: 12;
  width: 40%;
  height: 10%;
  border-radius: 1rem;
  margin-top: -1rem;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 1rem;
  padding-right: 1rem;

  .view_span {
    // font-size: 1.5rem
    font-weight: 700;
    color: black;
    z-index: 10;
    &:hover {
      cursor: pointer;
    }
    list-style: none;
    @include mobile-only {
      font-size: 1rem;
    }
    @include md {
      font-size: 1.5rem;
    }
    @include lg {
      font-size: 1.5rem;
    }
  }

  .view_span_select {
    // font-size: 1.5rem;
    font-weight: 700;
    color: #4680ff;
    z-index: 10;
    list-style: none;
    &:hover {
      cursor: pointer;
    }
  }
  @include mobile-only {
    font-size: 1rem;
  }
  @include md {
    font-size: 1.5rem;
  }
  @include lg {
    font-size: 1.5rem;
  }
}
