#navigator-container {
  background-color: $navigator-color;
  // border: 1pt solid green;
  width: 100%;
  display: flex;
  position: relative;
  @include mobile-only() {
    height: 5rem;
  }
  @include md {
    height: 8rem;
  }
  @include lg {
    height: 10rem;
  }
  .hiddenMenu {
    // border: 1px solid green;
    width: 12rem;
    position: absolute;
    right: 0rem;
    top: 10rem;
    background-color: rgb(163, 232, 235);
    font-size: 2rem;
    font-weight: bold;
    color: rgb(80, 80, 80);
  }

  .structure {
    // border: 1px solid red;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      // border: 1px solid purple;
      display: flex;
      @include mobile-only {
        width: 7rem;
        height: 3.5rem;
      }
      @include md {
        width: 13rem;
        height: 6rem;
      }
      @include lg {
        width: 15rem;
        height: 7rem;
      }
    }
  }
  .mypageMenu {
    list-style: none;
  }
  .sideMenu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;

    .inputDiv {
      position: relative;
      display: flex;
    }

    .searchBar {
      border: 0;
      @include mobile-only {
        width: 5rem;
        height: 1rem;
        margin-right: 0.5rem;
        border-radius: 1rem;
        padding-left: 0.5rem;
      }
      @include md {
        width: 20rem;
        height: 3rem;
        margin-right: 1.3rem;
        border-radius: 2rem;
        padding-left: 2rem;
      }
      @include lg {
        width: 20rem;
        height: 3rem;
        margin-right: 2rem;
        border-radius: 2rem;
        padding-left: 2rem;
      }
    }

    .searchBar::placeholder {
      @include mobile-only() {
        font-size: 0rem;
      }
      @include md {
        font-size: 1.5rem;
      }
      @include lg {
        font-size: 1.6rem;
      }
    }

    .searchIcon {
      position: absolute;
      cursor: pointer;
      
      @include mobile-only {
        height: 0.5rem;
        left: 4.2rem;
        top: 0.25rem;
      }
      @include md {
        height: 2rem;
        left: 17rem;
        top: 0.5rem;
      }
      @include lg {
        height: 2rem;
        left: 17rem;
        top: 0.5rem;
      }
    }

    .login-button {
      color: black;
      cursor: pointer;
      @include mobile-only {
        font-size: 1rem;
      }
      @include md {
        font-size: 1.5rem;
      }
      @include lg {
        font-size: 2rem;
      }
    }

    .pencilIcon {
      height: 3vmin;
      padding-right: 2vmin;
    }

    .userIcon {
      height: 3vmin;
      color: rgb(80, 78, 78);
      cursor: pointer;
    }
  }
}
