.popluar-tag-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  // background-color: antiquewhite;
  @include mobile-only {
    width: 15rem;
  }
  
  @include md {
    width: 25rem;
  }
  
  @include lg {
    width: 30rem;
  }
}

@keyframes slide {
  0% {transform: translateY(0%)}
  18% {transform: translateY(0%)}
  20% {transform: translateY(-100%)}
  38% {transform: translateY(-100%)}
  40% {transform: translateY(-200%)}
  58% {transform: translateY(-200%)}
  60% {transform: translateY(-300%)}
  78% {transform: translateY(-300%)}
  80% {transform: translateY(-400%)}
  98% {transform: translateY(-400%)}
  100% {transform: translateY(0%)}
}

.popluar-tag-list {
  display: flex;
  flex-direction: column; 
  align-content: space-around;
  // justify-content: space-around;
  overflow: hidden;
  background-color: rgb(246, 247, 249);
  @include mobile-only {
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
  }
  @include md {
    height: 3rem;
    margin-right: 3rem;
    margin-left: 1rem;
    border-radius: 1rem;
  }
  @include lg {
    height: 4.5rem;
    margin-right: 3rem;
    margin-left: 1rem;
    border-radius: 1rem;
  }

  .popluar-tag-list-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

    .popular-tag-number {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      background-color: rgb(253, 243, 243);
      animation: 20s slide infinite;
      
      @include mobile-only() {
        width: 3rem;
        height: 2rem;
        font-size: 1.2rem;
      }
      @include md {
        width: 4rem;
        height: 3rem;
        font-size: 1.5rem;
      }
      @include lg {
        width: 5.5rem;
        height: 4.5rem;
        font-size: 1.8rem;
      }
    }
  }

  .popular-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: black;
    text-decoration: none;
    animation: 20s slide infinite;
    
    @include mobile-only() {
      width: 8rem;
      height: 2rem;
      font-size: 1.2rem;
    }
    @include md {
      width: 100%;
      height: 3rem;
      margin-left: 1rem;
      font-size: 1.5rem;
    }
    @include lg {
      width: 100%;
      height: 4.5rem;
      margin: 0 1rem 0 1rem;
      font-size: 1.6rem;
    }
  }
}

.popular-icon {
  display: flex;
  @include mobile-only {
    height: 2rem;
  }
  @include md {
    margin-left: 1.5rem;
    height: 2rem;
  }
  @include lg {
    margin-left: 1rem;
    height: 3vmin;
  }
}
