.createpost_route_section {
  width: 100%;
  height: 40%;
  // background-color: rgb(254, 131, 131);
  display: flex;
  flex-direction: column;

  .createpost_route_name {
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
  }
  .createpost_route_img {  
    width: 350px;
    height: 250px;
    display: flex;
    align-content: center;
    margin: 0 auto;
    border-radius: 10px;
  }
  .createpost_route_button {
  
  }
  
  .createpost_route_selectbox {
    width: 60%;
    height: 100px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    border: 1px solid green;

    button {
      width: auto;
      height: 30px;
      align-self: center;
      border-radius: 6px;
    }
  }
  
}