.createpost_content_section {
  width: 100%;
  height: 18%;
  // background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  ::placeholder {
    font-size: 14px;
    margin-left: 10px;
  }

  textarea {
    font-size: 14px;
    width: 90%;
    height: 90%;
    margin: 2rem 0 0 20px;
    border-radius: 6px;
    border: 1px solid lightgray;

    &:focus {
      outline: transparent;
    }

    &:focus-within {
      border: 2px solid #5482f5;
    }
  }
}