.createpost_upload_section {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // .createpost_upload_title {
  // }
  .createpost_upload_route {
    display: flex;
    margin: 5px 0 10px 20px;
    width: 100%;
  }

  span {
    font-size: 16px;
  }

  .createpost_upload_route_number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px double black;
    margin: 5px;
    width: 5rem;
    margin: 0;
    height: auto;
  }

  .createpost_upload_route_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    width: 150px;
    height: 30px;
    line-height: 50%;

  }
  
  .upload-icon {
    width: 30px;
    height: 30px;
    &:hover {
      cursor: pointer;
    }
  }

  .createpost_upload_route_checkbox {
    margin: 2px 0 0 10px;
    width: 25px;
    height: 25px;
    background-color: black;
    &:hover {
      cursor: pointer;
    }
  }
  .thumbnail_selectbox_span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    color: lightgray
  }
}