.createpost_uploadhold_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0 0 1rem;
  height: auto;
  width: 100%;
  // @include mobile-only {
  //   height: 40vw;
  // }
  // @include md {
  //   height: 40rem;
  // }
  // @include lg {
  //   height: 60rem;
  // }

}

.createpost_uploadhold_route_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  // background-color: #4680FF;

  @include mobile-only {
    width: 29%;
    height: auto;
  }
  @include md {
    width: 29%;
    height: 22rem;
  }
  @include lg {
    width: 29%;
    height: 25rem;
  }
}

.createpost_uploadhold_route_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createpost_uploadhold_route_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #F2F2F2;
  border-radius: 2rem;

  @include mobile-only {
    width: 28vw;
    height: 28vw;
  }
  @include md {
    width: 16rem;
    height: 16rem;
  }
  @include lg {
    width: 18rem;
    height: 18rem;
  }
}

.createpost_plusicon {
  color: #4680FF;
  width: 3.5rem;
  height: 3.5rem;
  
  &:hover {
    cursor: pointer;
  }
}

.createpost_uploadhold_image_img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0; 
  border: 1px solid lightgray;
  border-radius: 2rem;

  @include mobile-only {
    width: 28vw;
    height: 28vw;
  }
  @include md {
    width: 16.5rem;
    height: 16.5rem;
  }
  @include lg {
    width: 18rem;
    height: 18rem;
  }
}

.createpost_uploadhold_route_span {
  display: flex;
  // justify-content: center;
  margin: 10px 5px;
  font-size: 1.5rem;
  @include mobile-only {
    font-size: 2.5vmin;
  }
}