.detail-container {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 2em;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-text {
  display: flex;
  font-size: 1.8em;
}

.post-tags {
  padding: 1em;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.each-tags {
  width: 40px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}

.iconBox {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.like {
  font-weight: bold;
}

.reply {
  font-weight: bold;
}

.comment-writing {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.comment-writing-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
  margin-top: 1.5em;
}

.comment-writing-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.writing-box {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 50px;
}

.post-comments {
  margin-top: 1.5em;
}
