.track-container {
  display: flex;
  height: 47.5%;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 20px;
  align-self: flex-end;
  margin-top: 10%;
}

.title {
}

.spots {
}
