.withdrawal-center-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdrawal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdrawal-box {
  position: absolute;
  background-color: rgb(146, 183, 204);
  width: 400px;
  height: 200px;
  padding: 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.withdrawal-msg {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yesorno {
  display: block;
  width: 80px;
  height: 40px;
  margin: 0 auto;
}
